h1{ 
    text-align: center;
    text-decoration: underline;
}
form{
        margin: auto;
        max-width: 700px;
        text-align: center;background-color: aqua;


padding: 15px;
border-radius: 50px;
border-color: darkblue;
border-style: solid;
border-width: 5px;


}
input{
    width: 300px;
    padding: 5px;
    border-radius: 30px;
    height: 30px;
    font-size: 30px;
    margin: 5px 40px;
    background-color: aquamarine;}
    input[
 type=submit
]{height: 50px;}
input[type=submit]:hover{cursor:pointer}
label{font-size: 30px;}

