h1{
    text-align: center;

}

form{
    margin: auto;
    max-width: 700px;
    text-align: center;
    
}
input{
    width: 300px;
    padding: 5px;
    border-radius: 30px;
    height: 30px;
    font-size: 30px;
    margin: 5px 40px;
    background-color: aqua;
    
}
label{
    font-size: 30px;
    margin: 5px 30px;
    
}
input[
 type=submit
]{height: 50px}